@media only screen and (max-width: 768px) {
    header .conteiner1200 li {
        margin-left: 16px;
    }

    .our_team .meet_our_team a {
        font-size: 12px;
    }
    .our_team .meet_our_team p{
        font-size: 11px;
    }
    .meet_our_team{
        margin-left: 20px;
    }
    .foto{
        position: relative;
    }
    .customers h4{
        font-size: 12px;
    }
    .logo_companies{
        margin: 0 30px 0;
    }
}
@media only screen and (max-width: 428px) {
    header{
        display: none;
    }
    .our_firm .our_firm_text p{
        font-size: 11px;
        margin-left: 20px;
    }
    .d_flex{
       display: block;
    }
    .logo2{
        margin-top: 50px;
    }
    .logo1{
        margin-top: 0;
    }
    .customers{
        margin: 0;
    }
    .logo_companies{
       min-width: auto;
    }
    .article_projects{
        display: block;
    }
    .conteiner_projects{
        padding: 0 0 0 30px;
    }
    .meet_our_team article{
        display: flex;
        margin: 20px auto;
    }
    .your_next_project h3{
        font-size: 18px;
    }
}
@media only screen and (max-width: 320px) {
    .architecture h1{
        font-size: 51px;
    }
    .conteiner_projects{
        padding: 0;
    }
    .logo_companies{
        margin: auto;
    }
    footer p{
        font-size: 10px;
    }
    footer ul li:nth-child(2){
        margin: 0 10px;
    }
}